.wrapper ,.info ,footer ,.team{
    background: url(../img/10.jpeg) no-repeat center top fixed ;
}
.wrap, .in{
    background-color: rgba(75, 29, 202, 0.6);
}
.logo{
    font-size: 1.2rem;
    color: lightcyan;
}
.menu{    margin-bottom: 150px;}
.lines{
    width: 50px;
    height: 2px;
  background-color: rgb(4, 178, 231);
}
.link{
    text-decoration: none;
    color: rgb(4, 178, 231);
    border: 1px solid rgb(4, 178, 231);
}
.link:hover{
    color: antiquewhite;
    text-decoration: none;
    background-color: deepskyblue;
}
.story,.expertise,.works ,.registration{
    background-color: white;
}
.watch{
    height: 500px;
    width: 100%;
    background: url(../img/10.jpeg) no-repeat center bottom  / cover ;
}
.inner{
    height: 500px;
    width: 100%;
    background-color: rgba(75, 29, 202, 0.6);
}
.play-video{
    width:80px;
    height: 80px;
}
.video-link{
    position: relative;
    border-radius: 50%;
    border: 2px solid white;
}
.text{
    position: absolute;
    top: 110%;
    left: 14%;
}
.line{
    width: 50px;
    height: 2px;
    background-color: #cccccc;
}
.icons{  width: 60px;}
.b-left:nth-child(3n+2){
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}
.b-bo{    border-bottom: 1px solid #cccccc;}
.team{
    background: url(../img/10.jpeg) no-repeat center top fixed / cover ;
}
.in{    background-color: rgba(75, 29, 202, 0.6);}
.img-none{    background-color: transparent;}
.back{    min-height: 150px;}
.lightgrey{    background-color: lightgray;}
.ccc{    background-color: #cccccc;}
.lightsgray{    background-color: #aaaaaa;}
.gray{  background-color: gray;}
.ddd{background-color: #dddddd; }
.bbb{    background-color: #bbbbbb;}
.massage{    min-height: 100px;}
.logo-div{    height: 110px;}
.foot-link{    padding: .5rem .34em;}
.subscribe{    background-color: transparent;}